


.header-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
    width: 100%;
    height: 2.625rem;
    padding: 0 1rem;
    z-index: 999;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}

.header-nav .left-nav-items {
    display: flex;
    align-items: center;
    font-size: 14.25px;
    font-weight: bold;
    gap: 2rem;
}

.header-nav a.masthead-logo,
a.masthead-logo svg {
    width: 195px;
    height: 26px;
    margin: .375rem auto 0;
}
.header-nav .right-nav-items{
    display: flex;
    align-items: left;
    font-size: 14.25px;
    font-weight: bold;
    gap: 2rem;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #000;
}